
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700&family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Saira Semi Condensed', sans-serif
}

:root {
  --color-light: #F9F6F2;
  --color-medium: #E9C4EA;
  --color-dark: #000;

  --bg-color-light: #fff;
  --bg-color-medium: #F9F6F2;
  --bg-color-dark: #9175DB;


}

header nav {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content -webkit-min-content;
  grid-template-columns: 1fr min-content min-content;
  align-items: center;
  padding: 0 2.5rem;
  position: relative;
}

nav img {
  width: 70px;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  list-style-type: none;
  font-size: 1.2rem;
}

nav a {
  color: var(--color-dark);
}

nav a:hover{
  color: var(--bg-color-dark);
}

.subNav {
  background-color: var(--bg-color-dark);
  position: absolute;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: -2rem;
  border-radius: 1rem;
}

.subNav li {
  list-style-type: none;
  padding: .5rem;
}

.subNav a {
  color: var(--color-light);
}

.subNav a:hover {
  color: var(--color-dark);
}

.navCart {
  display: grid;
  grid-template-columns: repeat(2, -webkit-min-content);
  grid-template-columns: repeat(2, min-content);
  -moz-column-gap:  .2rem;
       column-gap:  .2rem;
  text-decoration: none;
}

.navCart span {
  font-size: 1rem;
}


.home-hero {
  background-image: url(/images/hero.png);
  background-position: 53% 20%;
  background-repeat: no-repeat;
  width: 85%;
  height: 18rem;
  margin: 2rem auto 0;
  border-radius: 3.25rem;
}

.home-hero h1 {
  color: var(--color-light);
  font-size: 3.5rem;
  padding: 3rem 1rem;
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;

}

.aside {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 300px;
  margin: 1.7rem auto;
}

.btn, .aside a {
  height: 50px;
  border-radius: 36px;
  cursor: pointer;  
  border: none;
  text-decoration: none;
  text-align: center;
  /* justify-self: center; */
  align-self: center;
}

.aside a {
  background-color: var(--bg-color-light);
  width: 6rem;
  height: 2.4rem;
  font-size: 1.2rem;
  padding: 0.1rem;
  background-color: var(--bg-color-medium);
}

.aside a:hover {
  background-color: var(--bg-color-dark);
  color: var(--bg-color-medium);
}

.aside a.btnClicked {
  background-color: var(--bg-color-dark) ;
  color: var(--color-medium);
}

.products-section {
  display: grid;
}

 .cards-container {
  display: grid;
  justify-items: center;
  text-align: center;
}

.cards-container h1 {
  grid-column: 1 /-1;
  text-align: start;
  justify-self: start;
  padding-bottom: 1.5rem ;
  font-size: 3rem;
  
}

.product-card {
  width: 280px;
  /* height: 300px; */
  color: var(--color-dark);
  
}

.product-card a {
  text-decoration: none;

}


.product-card img {
  width: 150px;
  height: 200px;
}

.product-datails {
  display: grid;
}

.product-datails img {
  width: 300px;
  justify-self: center;
}

.product-datails p {
  color: #888282;
  font-family: Saira;
  letter-spacing: 1.5px;
}

.product-info {
  padding-left: 2.5rem;
  display: grid;
  row-gap: .4rem;
  margin-top: 1rem;
}

.product-color .btn, .product-size .btn {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.5rem;
} 

.product-size .btn {
  background-color: var(--bg-color-dark);
  color: var(--bg-color-light);
}

.addToCard {
  color: var(--bg-color-light);
  background-color: var(--bg-color-dark);
  width: 280px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1rem;
}

.price span {
  color: var(--bg-color-dark);
  font-weight: 600;
}

.product-info .btn.btnClicked {
  background-color: var(--bg-color-light);
  color: var(--color-dark);
  border: var(--color-dark) solid 1px;
}

.log-in, .signIn {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
  margin-top: 8rem;
}

.log-in input, .signIn input {
  width: 17rem;
  background-color: var(--bg-color-medium);
  border: none;
  padding: .8rem;
}

.log-in input::-webkit-input-placeholder, .signIn input::-webkit-input-placeholder {
  color: rgba(145, 117, 219, 0.31);
}

.log-in input::-moz-placeholder, .signIn input::-moz-placeholder {
  color: rgba(145, 117, 219, 0.31);
}

.log-in input:-ms-input-placeholder, .signIn input:-ms-input-placeholder {
  color: rgba(145, 117, 219, 0.31);
}

.log-in input::-ms-input-placeholder, .signIn input::-ms-input-placeholder {
  color: rgba(145, 117, 219, 0.31);
}

.log-in input::placeholder, .signIn input::placeholder {
  color: rgba(145, 117, 219, 0.31);
}

.no-account {
  margin-top: 2rem;
}

input {
  background-color: var(--bg-color-medium);
  border-radius: 2.2rem;
}

.userAdmin {
  background-color: var(--bg-color-medium);
  display: grid;
  width: 17.5rem;
  margin: 2rem auto;
  border-radius: 1.8rem;
  padding: 1rem;
  grid-template-columns: repeat(3, -webkit-max-content);
  grid-template-columns: repeat(3, max-content);
  row-gap: 1rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.userAdmin h2 {
  font-size: 1.3rem;
  color: var(--bg-color-dark);
  grid-column: 1 / -1;
  text-align: start;
}

.orders-box {
  display: grid;
  /* align-self: center; */
  justify-items: center;

}

.cart-total {
  margin-top: 3rem;
}

.loading {
  font-size: 4rem;
  text-align: center;
  color: var(--bg-color-dark);
  margin-top: 5rem;
}

.cart-container h1 {
  text-align: center;
  margin-top: 1.5rem;
}

.cart-prduct {
  display: grid;
  margin-top: 2rem;
  border: 1px solid var(--bg-color-dark);
  width: 250px;
  padding: 1rem;
  border-radius: 1rem;
}

.remove-btn {
  background-color: transparent;
  color: var(--bg-color-dark);
  font-size: 1.3rem;
}

.cart-products {
  display: grid;
  row-gap: 2rem;
  justify-content: center;
}

.cart-total {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 2rem;
}

.spinner {
  width: 100px;
}

.containerStyle {
  width: 250px;
  margin: 0 auto;
  padding-top: 1rem;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateX(0)
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  nav img {
    width: 80px;
  }

  .aside {
    grid-template-columns: 1fr;
    justify-items: start;
    margin: 3rem 3rem;
    width: 130px;
    row-gap: 1rem;
    align-items: center;
  }

  .products-section {
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
  }

   .cards-container {
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
    row-gap: 4rem;
  }

  .product-card {
    width: 170px;
    height: 300px;
  }

  .product-datails {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
  }

  .product-info {
    padding-left: 0;
  }

  .userAdmin {
    width: 30rem;
  }

}

.log-sign-btn {
  background-color: var(--bg-color-dark);
  width: 120px;
  height: 40px;
  font-size: .9rem;
  color: #ffffff;
  font-weight: 700;
}

form input {
  width: 10px;
  background-color: red;
}

@media screen and (min-width: 1024px ) {
  .home-hero {
    background-position: 50% 20%;
    height: 25rem;
  }

  .home-hero h1 {
    color: var(--color-light);
    font-size: 5rem;
    padding: 6rem 1rem;
  }

  .products-section {
    width: 900px;
    margin: 0 auto;
  }

  .product-card img {
    width: 200px;
    height: 270px;
  }

    .quantity-controls {
    padding-top: 1.9rem;
  }

}

@media screen and (min-width: 1708px ) {
  .home-hero {
    width: 1200px;
  }

  .products-section {
    width: 1200px;
    margin: 0 auto;
  }

  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}